@using WebShop.Data.ViewModels;
@model ShoppingCartVM

@{ ViewData["Title"] = "Корзина"; }

<div class="d-flex flex-column border border-dark rounded" style="background-color: #d6d6d6; height: 800px; gap: 20px; padding: 20px; ">
        <div class="text-center">
            <h2>Ваша корзина</h2>
        </div>

        <table class="table bg-white border-dark rounded">
            <thead>
                <tr>
                    <th>Количество</th>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th>Общая цена</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
    <tr>
        <td class="align-middle">@item.Amount</td>
        <td class="align-middle">@item.Name</td>
        <td class="align-middle">@item.Price.ToString("c")</td>
        <td class="align-middle">@((item.Amount*item.Price).ToString("c"))</td>
        <td class="align-middle">
            <form class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromShoppingCart"
               asp-route-id="@item.ItemId"
               asp-route-type="@item.ItemType">
                <button class="btn btn-outline-danger my-2 my-sm-0">-</button>
            </form>
            <br/>
            <form class="text-success" asp-controller="Orders" asp-action="AddItemToShoppingCart"
               asp-route-id="@item.ItemId"
               asp-route-type="@item.ItemType"
               asp-route-name="@item.Name">
                <button class="btn btn-outline-primary my-2 my-sm-0">+</button>
            </form>
        </td>
    </tr>
}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Всего:</b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-right">
            <div class="btn-group">
                @*<a class="btn btn-outline-primary" asp-action="CompleteOrder">
                        Complete order
                    </a>*@
                <div id="paypal-btn"></div>
                <span style="padding:5px"></span>
                <a class="btn btn-outline-success" asp-controller="Home" asp-action="Catalog">
                    Продолжить покупки
                </a>
            </div>
        </div>
</div>

@section Scripts{

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>

        let _total = @Html.Raw(Model.ShoppingCartTotal);

        paypal.Button.render({
            //Configure environment
            env: 'sandbox',
            client: {
                sandbox: 'AcKRtgL4i68EZ2ZYuYUx3ilihAg2YhL5dtF_m19A8MjBWVOn6ewNS4M_uV8gA3xi98zTcUq38gUHbVFx'
            },

            //Customize button
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,

            //Set up a payment
            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'USD'
                        }
                    }]
                });
            },

            //Execute the payment
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    var url = '@Url.Action("CompleteOrder", "Orders", new { })';
                    window.location.href = url;
                });
            }

        }, '#paypal-btn')
    </script>
}